<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918473552272-li5vj7l7ficnmbpt7j9ff38l1tgouoam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918473552272-li5vj7l7ficnmbpt7j9ff38l1tgouoam</string>
	<key>API_KEY</key>
	<string>AIzaSyD9orv6hmm1aU2f0V16E68sp26ZSEEjiG8</string>
	<key>GCM_SENDER_ID</key>
	<string>918473552272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todo-e3c5c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-e3c5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918473552272:ios:ac4938fd7c6fd7de8b8315</string>
</dict>
</plist>